/** Valmynd **/
.logo {
    font-size: 24px;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.cart {
    font-size: 24px;
    cursor: pointer;
}

.navigation {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 100%;

color: var(--color-dark);
}

.navigation ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 100%;
max-width: var(--width-offset);

list-style: none;
}