/** Valmynd **/
.logo {
    font-size: 24px;
    font-weight: bold;
    justify-content: left;
}

.search {
    display: flex;
    align-items: center;
}

.cart {
    font-size: 24px;
    cursor: pointer;
}

.navigation {
display: flex inline;
flex-wrap: wrap;
width: 100%;
padding-top: 1rem;
justify-content: center;

color: var(--color-dark);
}

.gridlogo{
    grid-column-start: 1;
    grid-column-end: 4;
}